.site-rl-tournament-details > h1 {
	text-align: center;
}

.site-rl-tournament-details .participants .imageCell {
	width: 100px;
}

.site-rl-tournament-details .participants .nameCell,
.site-rl-tournament-details .participants .checkInCell,
.site-rl-tournament-details .participants .disqCell {
	text-align: center;
}

.site-rl-tournament-details .participants td {
	vertical-align: middle;
}

.site-rl-tournament-details .participants .entry-logo {
	width: 75px;
}

.site-rl-tournament-details .scrollableBracket {
	overflow-x: auto;
}

.site-rl-tournament-details .scrollableBracket > h1 {
	text-align: center;
}

.site-rl-tournament-details .winnerBracket,
.site-rl-tournament-details .looserBracket {
	display: flex;
	flex: 1 1 auto;
	flex-direction: row;
	justify-content: flex-start;
}

.site-rl-tournament-details .bracketRound {
	border-right: 1px solid black;
	display: flex;
	flex: 0 0 auto;
	flex-direction: column;
	padding: 5px;
	width: 260px;
}

.site-rl-tournament-details .roundTitle {
	text-align: center;
}

.site-rl-tournament-details .bracketEncounter {
	font-size: 10px;
}

.site-rl-tournament-details .bracket {
	border: 1px solid grey;
	margin-bottom: 20px;
}

.site-rl-tournament-details .bracketParticipant {
    padding: 2px 4px;
}
.site-rl-tournament-details .bracketParticipant.winner {
	background-color: #60f760;
}
.site-rl-tournament-details .bracketParticipant.looser {
	background-color: #e6e6e6;
}


.site-rl-tournament-details .bracket.stream1 {
	border: 3px solid #0000ff;
}
.site-rl-tournament-details .bracket.stream2 {
	border: 3px solid #ee82ee;
}
.site-rl-tournament-details .bracket.stream3 {
	border: 3px solid #ffa500;
}

.site-rl-tournament-details .goals {
    width: 22px;
    border-right: 1px solid black;
    padding: 0 3px 0 0;
    text-align: right;
    background-color: rgba(255, 255, 255, 0.5);
}

.site-rl-tournament-details .takeWinner {
    margin: 0 1px;
}


.site-editEncounterDetails h1 {
	text-align: center;
}

.site-editEncounterDetails .playerDetails {
	text-align: center;
}

.site-editEncounterDetails .playerName {
	font-size: 36px;
	font-weight: bold;
}

.site-editEncounterDetails .entry-logo {
	margin-bottom: 20px;
	width: 250px;
}

.site-editEncounterDetails .encounterHeader {
	margin: 0 0 10px;
	position: relative;
}

.site-editEncounterDetails .encounterVs {
	position: absolute;
	top: 50%;
	left: 50%;
	font-size: 48px;
	font-weight: bold;
	transform: translate(-50%, -50%);
}

.site-editEncounterDetails .encounterBody {
	margin: 0 0 10px;
}

.site-editEncounterDetails .encounterGameHeader {
	text-align: center;
}

.site-editEncounterDetails .encounterScreen {
	display: block;
	margin: 0 auto 10px;
	width: 800px;
}

.site-editEncounterDetails .encounterScreenshot {
    text-align: center;
    margin: 0 0 10px;
}

.site-editEncounterDetails .encounterScreenshot input[type="file"] {
    display: inline-block;
}

.site-editEncounterDetails .encounterField {
	padding: 0;
	position: relative;
}

.site-editEncounterDetails .encounterInput {
    background-color: inherit;
    border: none;
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    padding: 10px;
    text-align: right;
    width: 100%;
    transform: translate(0, -50%);
}

